
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
</style>
<body>

<h2 class="w3-center">pillows</h2>

<div class="w3-content w3-display-container">
  <img class="mySlides" src="https://m.media-amazon.com/images/I/716lB4l66cL._AC_UL480_FMwebp_QL65_.jpg" style="width:100%" height="600px">
  <img class="mySlides" src="https://m.media-amazon.com/images/I/91nYf0BOYKL._AC_UL480_FMwebp_QL65_.jpg" style="width:100%" height="600px">
  <img class="mySlides" src="https://m.media-amazon.com/images/I/81TOjvhjqoL._AC_UL480_FMwebp_QL65_.jpg" style="width:100%" height="600px">
  <img class="mySlides" src="https://m.media-amazon.com/images/I/71ZtX+XF0SL._AC_UL480_FMwebp_QL65_.jpg" style="width:100%" height="600px">
  <img class="mySlides" src="https://m.media-amazon.com/images/I/71hLuUImv7L._AC_UL480_FMwebp_QL65_.jpg" style="width:100%" height="600px">
  <img class="mySlides" src="https://m.media-amazon.com/images/I/91mTce3FwBL._AC_UL480_FMwebp_QL65_.jpg" style="width:100%" height="600px">
  <img class="mySlides" src="https://m.media-amazon.com/images/I/51-TxwwvktL._AC_UL480_FMwebp_QL65_.jpg" style="width:100%" height="600px">
  <img class="mySlides" src="https://m.media-amazon.com/images/I/51y0rzdSrlL._AC_UL480_FMwebp_QL65_.jpg" style="width:100%" height="600px">
  <img class="mySlides" src="https://m.media-amazon.com/images/I/71AkFaSwdsL._AC_UL480_FMwebp_QL65_.jpg" style="width:100%" height="600px">
  <img class="mySlides" src="https://m.media-amazon.com/images/I/81ZN2O02o3S._AC_UL480_FMwebp_QL65_.jpg" style="width:100%" height="600px">
  <img class="mySlides" src="https://m.media-amazon.com/images/I/81hxSZtJySL._AC_UL480_FMwebp_QL65_.jpg" style="width:100%" height="600px">
  <img class="mySlides" src="https://m.media-amazon.com/images/I/61BzJzHDJgL._AC_UL480_FMwebp_QL65_.jpg" style="width:100%" height="600px">
  <img class="mySlides" src="https://m.media-amazon.com/images/I/913WH9wAnrL._AC_UL480_FMwebp_QL65_.jpg" style="width:100%" height="600px">
  <img class="mySlides" src="https://m.media-amazon.com/images/I/71nRKbbbtiL._AC_UL480_FMwebp_QL65_.jpg" style="width:100%" height="600px">
  <img class="mySlides" src="https://images-eu.ssl-images-amazon.com/images/I/91ZLsCP1sVL._AC_UL165_SR165,165_.jpg"style="width:100%" height="600px">
  <img class="mySlides" src="https://m.media-amazon.com/images/I/71nRKbbbtiL._AC_UL480_FMwebp_QL65_.jpg" style="width:100%" height="600px">
  <img class="mySlides" src="https://m.media-amazon.com/images/I/718N1sdeEdL._AC_SR405%2C405_.jpg" style="width:100%" height="600px">
  <img class="mySlides" src="https://images-eu.ssl-images-amazon.com/images/I/71MAjCBTTOL._AC_UL165_SR165,165_.jpg" style="width:100%" height="600px">
  <img class="mySlides" src="https://images-eu.ssl-images-amazon.com/images/I/81ebdY02maL._AC_UL165_SR165,165_.jpg" style="width:100%" height="600px">
    <img class="mySlides" src="https://images-eu.ssl-images-amazon.com/images/I/518e4DdqgWL._AC_UL165_SR165,165_.jpg" style="width:100%" height="600px">
    <img class="mySlides" src="https://images-eu.ssl-images-amazon.com/images/I/81Lwj+ca8AL._AC_UL165_SR165,165_.jpg" style="width:100%" height="600px">
    <img class="mySlides" src="https://images-eu.ssl-images-amazon.com/images/I/81us4X1lKXL._AC_UL165_SR165,165_.jpg" style="width:100%" height="600px">

  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>





<!-- <div class="w3-content w3-display-container">
    <img class="mySlides" src="https://m.media-amazon.com/images/I/71nRKbbbtiL._AC_UL480_FMwebp_QL65_.jpg" style="width:100%" height="600px">
    <img class="mySlides" src="https://images-eu.ssl-images-amazon.com/images/I/91ZLsCP1sVL._AC_UL165_SR165,165_.jpg"style="width:100%" height="600px">
    <img class="mySlides" src="https://m.media-amazon.com/images/I/71nRKbbbtiL._AC_UL480_FMwebp_QL65_.jpg" style="width:100%" height="600px">
    <img class="mySlides" src="https://m.media-amazon.com/images/I/718N1sdeEdL._AC_SR405%2C405_.jpg" style="width:100%" height="600px">
    <img class="mySlides" src="https://images-eu.ssl-images-amazon.com/images/I/71MAjCBTTOL._AC_UL165_SR165,165_.jpg" style="width:100%" height="600px">
    <img class="mySlides" src="https://m.media-amazon.com/images/I/71CBWVZ9mPL._AC_SR405%2C405_.jpg" style="width:100%" height="600px">
    <img class="mySlides" src="https://m.media-amazon.com/images/I/81HVBLT6-hL._AC_SR405%2C405_.jpg" style="width:100%" height="600px">
    <img class="mySlides" src="https://images-eu.ssl-images-amazon.com/images/I/71LsKH625NL._AC_UL165_SR165,165_.jpg" style="width:100%" height="600px">
    <img class="mySlides" src="https://images-eu.ssl-images-amazon.com/images/I/81ebdY02maL._AC_UL165_SR165,165_.jpg" style="width:100%" height="600px">
    <img class="mySlides" src="https://images-eu.ssl-images-amazon.com/images/I/518e4DdqgWL._AC_UL165_SR165,165_.jpg" style="width:100%" height="600px">
    <img class="mySlides" src="https://images-eu.ssl-images-amazon.com/images/I/81Lwj+ca8AL._AC_UL165_SR165,165_.jpg" style="width:100%" height="600px">
    <img class="mySlides" src="https://images-eu.ssl-images-amazon.com/images/I/81us4X1lKXL._AC_UL165_SR165,165_.jpg" style="width:100%" height="600px">
    <img class="mySlides" src="https://images-eu.ssl-images-amazon.com/images/I/913WH9wAnrL._AC_UL165_SR165,165_.jpg" style="width:100%" height="600px">
  
    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
  </div> -->







  
<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>
</body>
</html>