<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/interior.css">
</head>
<body>
    <div class="container">
        <img src="https://images.squarespace-cdn.com/content/v1/5936fbebcd0f68f67d5916ff/1504045410341-HK2HW9ANTRGJL7QUX9NR/35158203441_10711760b9_k.jpg?format=2500w" alt="Norway" style="width:100%;">
        <div class="text-block">
          <h4>WHAT IS interior</h4>
          <p>The Best Interior Designers Make it Look Easy
            Designers craft spaces that anticipate our needs and appeal to our emotions while pulling from a broad set of skills and technical knowledge. Interior design has changed dramatically since the early 20th century when it was just beginning to emerge as a profession.
            
            Interior designers are expected to have working knowledge of:
            
            Textiles, materials, color, space planning, sustainability, and more
            Software applications for 2D & 3D computer-aided design (CAD) and building information modeling (BIM)
            Structural requirements, health and safety issues, and building codes
            Today, interior designers work with contractors, architects, engineers, craftsmen, furniture dealers, and business and home owners. To become a successful interior designer, you need a well-rounded education and the skills to work within many disciplines (architecture; graphic design; decorative arts; and textile, furniture, and lighting design).
            </p>
            <p>Interior design is the process of creating an interior space that is functional, aesthetically pleasing, and meets the needs of the people who will use it. It involves planning, designing, and executing the elements of a space, such as the layout, lighting, color, furniture, and materials. 
                Interior designers work with a variety of clients, including contractors, architects, engineers, and home and business owners. They need to have a well-rounded education and skills in many disciplines, including architecture, graphic design, and decorative arts. They also need to be able to navigate the business aspects of their profession, such as working within a project budget and collaborating with general contractors. 
                Interior designers may specialize in particular subsets of the field, such as sustainable or accessible interior design</p>
                <P>History and current terms

                    Typical interior of one of the houses in the Folk Architecture Reservation in Vlkolínec (Slovakia)
                    In the past, interiors were put together instinctively as a part of the process of building.[1]
                    
                    The profession of interior design has been a consequence of the development of society and the complex architecture that has resulted from the development of industrial processes.
                    
                    The pursuit of effective use of space, user well-being and functional design has contributed to the development of the contemporary interior design profession. The profession of interior design is separate and distinct from the role of interior decorator, a term commonly used in the US; the term is less common in the UK, where the profession of interior design is still unregulated and therefore, strictly speaking, not yet officially a profession.
                    
                    In ancient India, architects would also function as interior designers. This can be seen from the references of Vishwakarma the architect—one of the gods in Indian mythology. In these architects' design of 17th-century Indian homes, sculptures depicting ancient texts and events are seen inside the palaces, while during the medieval times wall art paintings were a common feature of palace-like mansions in India commonly known as havelis. While most traditional homes have been demolished to make way to modern buildings, there are still around 2000 havelis[2] in the Shekhawati region of Rajashtan that display wall art paintings.
                    
                    In ancient Egypt, "soul houses" (or models of houses) were placed in tombs as receptacles for food offerings. From these, it is possible to discern details about the interior design of different residences throughout the different Egyptian dynasties, such as changes in ventilation, porticoes, columns, loggias, windows, and doors.[3]
                    
                    
                    Reconstructed Roman triclinium or dining room, with three klinai or couches
                    Painting interior walls has existed for at least 5,000 years, with examples found as far north as the Ness of Brodgar,[4] as have templated interiors, as seen in the associated Skara Brae settlement.[5] It was the Greeks, and later Romans who added co-ordinated, decorative mosaics floors,[6] and templated bath houses, shops, civil offices, Castra (forts) and temple, interiors, in the first millennia BC. With specialised guilds dedicated to producing interior decoration, and formulaic furniture, in buildings constructed to forms defined by Roman architects, such as Vitruvius: De architectura, libri decem (The Ten Books on Architecture).[7][8]
                    
                    Throughout the 17th and 18th century and into the early 19th century, interior decoration was the concern of the homemaker, or an employed upholsterer or craftsman who would advise on the artistic style for an interior space. Architects would also employ craftsmen or artisans to complete interior design for their buildings.
                    
                    Commercial interior design and management
                    In the mid-to-late 19th century, interior design services expanded greatly, as the middle class in industrial countries grew in size and prosperity and began to desire the domestic trappings of wealth to cement their new status. Large furniture firms began to branch out into general interior design and management, offering full house furnishings in a variety of styles. This business model flourished from the mid-century to 1914, when this role was increasingly usurped by independent, often amateur, designers. This paved the way for the emergence of the professional interior design in the mid-20th century.[9]
                    
                    
                    Illustrated catalog of the James Shoolbred Company, published in 1876
                    In the 1950s and 1960s, upholsterers began to expand their business remits. They framed their business more broadly and in artistic terms and began to advertise their furnishings to the public. To meet the growing demand for contract interior work on projects such as offices, hotels, and public buildings, these businesses became much larger and more complex, employing builders, joiners, plasterers, textile designers, artists, and furniture designers, as well as engineers and technicians to fulfil the job. Firms began to publish and circulate catalogs with prints for different lavish styles to attract the attention of expanding middle classes.[9]
                    
                    As department stores increased in number and size, retail spaces within shops were furnished in different styles as examples for customers. One particularly effective advertising tool was to set up model rooms at national and international exhibitions in showrooms for the public to see. Some of the pioneering firms in this regard were Waring & Gillow, James Shoolbred, Mintons, and Holland & Sons. These traditional high-quality furniture making firms began to play an important role as advisers to unsure middle class customers on taste and style, and began taking out contracts to design and furnish the interiors of many important buildings in Britain.[10]
                    
                    This type of firm emerged in America after the Civil War. The Herter Brothers, founded by two German émigré brothers, began as an upholstery warehouse and became one of the first firms of furniture makers and interior decorators. With their own design office and cabinet-making and upholstery workshops, Herter Brothers were prepared to accomplish every aspect of interior furnishing including decorative paneling and mantels, wall and ceiling decoration, patterned floors, and carpets and draper</P>
        </div>
      </div>
   <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Vlkol%C3%ADnec%2C_Slovakia_020.jpg/330px-Vlkol%C3%ADnec%2C_Slovakia_020.jpg" alt="">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Triclinium_-_Arch%C3%A4ologische_Staatssammlung_M%C3%BCnchen.JPG/330px-Triclinium_-_Arch%C3%A4ologische_Staatssammlung_M%C3%BCnchen.JPG" alt="">
       <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Balliol_College_Dining_Hall%2C_Oxford_-_Diliff.jpg/330px-Balliol_College_Dining_Hall%2C_Oxford_-_Diliff.jpg" alt=""> 
       <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Lobby_Hotel_Bristol_w_Warszawie.JPG/330px-Lobby_Hotel_Bristol_w_Warszawie.JPG" alt=""> 
</body>
</html>