<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/layout.css">
    <title>Document</title>
</head>
<body>
    <section>
      <div class="container">
        
        <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="images/Screenshot (302).png">
              <img src="/static/images/Screenshot (302).png" alt="Cinque Terre" width="600" height="400">
            </a>
            <!-- <div class="desc">modular kitchen</div> -->
          </div>
        </div>
        
        
        <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="images/Screenshot (298).png">
              <img src="/static/images/Screenshot (298).png" alt="Forest" width="600" height="400">
            </a>
            <!-- <div class="desc">Living room</div> -->
          </div>
        </div>
        
        <div class="responsive">
          <div class="gallery" class="close">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a target="_blank" href="images/Screenshot (299).png">
              <img src="/static/images/Screenshot (299).png" alt="Northern Lights" width="600" height="400">
            </a>

            <!-- <div class="desc">stairs</div> -->
          </div>
        </div>
        
        <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="images/Screenshot (301).jpg">
              <img src="/static/images/Screenshot (301).jpg" alt="Mountains" width="600" height="400">
            </a>
            <!-- <div class="desc">design</div> -->
          </div>

          <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="images/Screenshot (303).png">
                <img src="/static/images/Screenshot (303).png" alt="Northern Lights" width="600" height="400">
              </a>
              
              <!-- <div class="desc">stairs</div> -->
            </div>

            <div class="responsive">
              <div class="gallery">
                <a target="_blank" href="images/Screenshot (304).png">
                  <img src="/static/images/Screenshot (304).png" alt="Northern Lights" width="600" height="400">
                </a>
                
                <!-- <div class="desc">stairs</div> -->
              </div>
        </div>
        <div class="clearfix"></div>
        <script>
          function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft= "0";
          }
        </script>
          </div>
             </section>
</body>
</html>