* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    /* background-color: #333; */
    background-color: rgb(239, 71, 99);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    /* background-color: #444; */
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.hero h2 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.2rem;
    margin-top: 20px;
}

#articles {
    padding: 50px 20px;
    background-color: #fff;
}

#articles h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
}

.article-container {
    display: flex;
    justify-content: space-around;
}

.article {
    width: 30%;
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.article img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.article img:hover {
    transform: scale(1.05);
}

.article h3 {
    margin-top: 20px;
    font-size: 1.5rem;
}

.article p {
    font-size: 1rem;
    margin-top: 10px;
}

.article a {
    display: inline-block;
    margin-top: 15px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

#gallery {
    padding: 50px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

#gallery h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.gallery-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery-item {
    width: 30%;
    margin-bottom: 20px;
}

.gallery-item img {
    width: 100%;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    /* background-color: #333; */
    color: #fff;
}
