/* General Styles */
body {
    background: linear-gradient(to bottom, #eaa0c5 0%,#33ccff 100% );
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.contact-form {
    width: 50%;
    margin: 30px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    text-align: center;
}

.contact-form label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}

.contact-form button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

#map {
    margin-top: 30px;
    margin-left: 30rem;
}

#googleMap {
    width: 100%;
    height: 400px;
}

.thank-you-message {
    text-align: center;
    padding: 30px;
}

